.container {
    margin: auto;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    border-radius: 20px;
}

.redlight {
    background-color: red;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    
}